/PumpkinCombat/.gradle/
/PumpkinCombat/gradle/
/PumpkinCombat/.idea/
/PumpkinCombat/build/

/PumpkinFramework/.gradle/
/PumpkinFramework/gradle/
/PumpkinFramework/.idea/
/PumpkinFramework/build/

/PumpkinMMO/gradle/
/PumpkinMMO/.gradle/
/PumpkinMMO/.idea/
/PumpkinMMO/build/


/PumpkinEconomy/.gradle/
/PumpkinEconomy/gradle/
/PumpkinEconomy/.idea/
/PumpkinEconomy/build/

/PumpkinFactions/.gradle/
/PumpkinFactions/gradle/
/PumpkinFactions/.idea/
/PumpkinFactions/build/

/PumpkinCore/.gradle/
/PumpkinCore/gradle/
/PumpkinCore/.idea/
/PumpkinCore/build/

/PumpkinCrates/.gradle/
/PumpkinCrates/gradle/
/PumpkinCrates/.idea/
/PumpkinCrates/build/

/PumpkinWarzone/.gradle/
/PumpkinWarzone/gradle/
/PumpkinWarzone/.idea/
/PumpkinWarzone/build/

/PumpkinEnchants/.gradle/
/PumpkinEnchants/gradle/
/PumpkinEnchants/.idea/
/PumpkinEnchants/build/
