.gradle/
build/

/EnchantmentAPI/.idea/
/EnchantmentAPI/build/

/PumpkinArmour/.idea/
/PumpkinArmour/build/

/PumpkinCombat/.idea/
/PumpkinCombat/build/

/PumpkinFramework/.idea/
/PumpkinFramework/build/

/PumpkinMMO/.idea/
/PumpkinMMO/build/

/PumpkinEconomy/.idea/
/PumpkinEconomy/build/

/PumpkinFactions/.idea/
/PumpkinFactions/build/

/PumpkinCore/.idea/
/PumpkinCore/build/

/PumpkinCrates/.idea/
/PumpkinCrates/build/

/PumpkinWarzone/.idea/
/PumpkinWarzone/build/

/PumpkinEnchants/.idea/
/PumpkinEnchants/build/

